/* Estilo global para el sitio web */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Estilo para el cuerpo del generador */
body {
    font-family: 'JetBrains Mono', monospace;
    background-color: #0F0E14;
}
/* Estilo para el título del generador */
h1 {
    color: #58575F;
    text-align: center;
    margin-top: 50px;
    font-size: 16px;
}
/* Estilo para las etiquetas de los inputs */
label {
    color: #ECEBF3;
    font-size: 1.2rem;
    margin-bottom: 10px;
}
/* Estilo para el contenedor principal del generador de contraseñas */
.password-generator {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
/* Estilo para el display de la contraseña generada */
.grupo-display {
    background-color: #24232B;
    margin-top: 20px;
    padding: 20px;
    width: 380px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* Estilo para el input que muestra la contraseña generada */
#password-display {
    background-color: #24232B;
    color: white;
    border: none;
    font-size: 24px;
    width: 90%;
    font-family: 'JetBrains Mono', monospace;
}
/* Estilo para el botón de copiar la contraseña al portapapeles */
#copy-btn {
    background-color: transparent;
    border: none;
    color: #A4FFAF;
    font-size: 1.5rem;
    cursor: pointer;
}
/* Estilo para el contenedor de las opciones de generación de contraseñas */
.grupo-opciones {
    background-color: #24232B;
    width: 380px;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
/* Estilo para el encabezado del rango de caracteres */
.opcion-range-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
/* Estilo para el texto del encabezado del rango de caracteres */
.opcion-range-header span {
    font-size: 20px;
    color: #A4FFAF;
}
/* Estilo para las opciones de rango (longitud de la contraseña) */
.opcion-range {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 30px;
    gap: 5px;
}
/* Estilo para el input de tipo range (slider) */
.opcion-range input[type="range"] {
    appearance: none;
    width: 100%;
    height: 5px;
    background-color: #18171F;
    border-radius: 5px;
    outline: none;
    margin-top: 10px;
}
/* Estilo para el thumb del slider */
input[type="range"]::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    background-color: #A4FFAF;
    border-radius: 50%;
    cursor: pointer;
}
/* Estilo para las etiquetas de las opciones de rango */
.opcion-range label {
    font-size: 14px;
}
/* Estilo para las opciones de checkbox (incluir mayúsculas, minúsculas, números, símbolos) */
.opcion-checkbox {
    display: flex;
    align-items: baseline;
    gap: 15px;
    margin: 2px 0;
}
/* Estilo para los inputs de tipo checkbox */
.opcion-checkbox input {
    appearance: none;
    border: 2px solid white;
    width: 15px;
    height: 15px;
}
/* Estilo para los inputs de tipo checkbox cuando están seleccionados */
.opcion-checkbox input[type="checkbox"]:checked {
    background-color: white;
}
/* Estilo para las etiquetas de las opciones de checkbox */
.opcion-checkbox label {
    font-size: 14px;
    order: 1;
}
/* Estilo para el medidor de fuerza de la contraseña */
.medidor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #18171F;
    color: #807E8C;
    margin-top: 20px;
}
/* Estilo para el texto del medidor de fuerza */
.medidor span {
    font-size: 12px;
    margin-left: 15px;
}
/* Estilo para la barra del medidor de fuerza */
.medidor-bar {
    margin-right: 15px;
}
/* Estilo para los íconos de la barra del medidor de fuerza */
.bx-rectangle-vertical {
    color: #ECEBF3;
    font-size: 1.5rem;
    transform: scaleX(0.5);
    width: 4px;
}
/* Estilo para el botón de generar la contraseña */
#generate-btn {
    background-color: #A4FFAF;
    color: #000000;
    border: none;
    width: 100%;
    margin-top: 20px;
    padding: 15px 20px;
    font-family: 'JetBrains Mono', monospace;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
/* Estilo de icono dentro del botón de generar contraseña */
.bx-arrow-right-stroke {
    font-size: 1.3rem;
}